# BACKEND API FOR TESTING 
NEXT_PUBLIC_API_URL=your_backend_url

#SITEURL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# TELEGRAM
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_CHAT_ID=your_chatid

#TIMEZONE
TIMEZONE=Asia/Dhaka